.fill {
  left: 0;
  right: 0;
  position: absolute;
}

.scroll-y {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.noscroll-x {
  overflow-x: hidden;
}

.scrollbox {
  background: linear-gradient(white 30%,rgba(255,255,255,0)),0 100%,radial-gradient(farthest-corner at 50% 0,rgba(0,0,0,.1),rgba(0,0,0,0)),0 100%;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0);
  background-size: 100% 40px,100% 40px,100% 4px,100% 4px;
  background-attachment: local,local,scroll,scroll;
}

.body {
  top: 0;
  bottom: 0;
}


.ticket-box{
    display:flex;
    flex-direction:column;
    width:100%;
}

.ticket-line{
    display:flex;
    justify-content:space-between;
}

hr.dashed {
  border-top: 3px dashed #bbb;
}
.ticket-info {
  display: flex;
  flex-direction:column;
}
