/* You can add global styles to this file, and also import other style files */
@import "~@progress/kendo-theme-default/scss/grid/_index.scss";
@import "~@progress/kendo-theme-default/scss/combobox/_index.scss";

 .k-grid-toolbar {
  color:#fff;
  background-color: #e4585a;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.form-control.is-valid,
.form-control.is-invalid,
.was-validated .form-control:invalid,
.was-validated .form-control:valid {
  background-image: none;
  padding-right: inherit;
}

.spinner-span {
  height: 15px;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 38px;
  width: 15px;
}

.cursor-pointer{
    cursor:pointer;
}
