.cls-1 {
  height: 16px;
  width: 16px;
  fill: #fff;
}

.cls-2 {
  height: 16px;
  width: 16px;
  fill: #c82333;
}

.cursor-pointer {
  cursor: pointer;
}

.main-content {
  right: 0;
  left: 0;
  position: absolute;
  top: 3rem;
  bottom: 0;
}
