<div class="page-wrapper">
  <form class="form-signin bg-light" [formGroup]="loginForm" (ngSubmit)="submitHandler()" autocomplete="off">
    <div class="logo-container">
      <h1 class="text-center">Soficom</h1>
    </div>
    <div class="text-center mb-4">
      <h1 class="headingText"><span>Connexion</span></h1>
      <div class="headingSubtext"><span>Pour accéder à Q-SYS</span></div>
    </div>

    <div class="form-group text-center text-danger" *ngIf="error">{{error}}</div>

    <div class="form-group">
      <label for="inputUserName" class="sr-only">Identifiant</label>
      <input type="text" id="inputUserName" formControlName="username" class="form-control"
             [ngClass]="{'is-invalid':username.invalid && (username.touched || username.dirty)}" placeholder="Saisissez l'identifiant" required autofocus>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input [type]="passwordInputType" id="inputPassword" formControlName="password" class="form-control" inputmode="numeric"
             [ngClass]="{'is-invalid':password.invalid && (password.touched || password.dirty)}" placeholder="Saisissez le mot de passe" required>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" (change)="onShowPassword($event.target.checked)"> Afficher le mot de passe
      </label>
    </div>

    <div class="form-group">
      <button [disabled]="!loginForm.valid || loading" class="btn btn-dark btn-block" type="submit">
        <svg _ngcontent-ycr-c37="" data-v-eb21620a="" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="sign-in-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="" class="svg-inline--fa fa-sign-in-alt fa-w-16"><path _ngcontent-ycr-c37="" fill="currentColor" d="M416 448h-84c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h84c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96zm-47-201L201 79c-15-15-41-4.5-41 17v96H24c-13.3 0-24 10.7-24 24v96c0 13.3 10.7 24 24 24h136v96c0 21.5 26 32 41 17l168-168c9.3-9.4 9.3-24.6 0-34z"></path></svg>
        Connexion
        <span *ngIf="loading" class="spinner-border spinner-border-sm ml-1"></span>
      </button>
    </div>



    <div class="text-center pt-3 p-b-4">
      <a role="button" class="txt2 hov1" data-toggle="tooltip" data-placement="top" title="Appelez le +243 817300081">
        Identifiant / Mot de passe
      </a>
      <span class="txt1">
        oublié?
      </span>
    </div>

    <div class="text-center">
      <span class="txt1">
        En cliquant sur connexion, vous acceptez
      </span>

      <a href="#" class="txt2 hov1">
        notre accord
      </a>
    </div>
  </form>
</div>
